flows.json
[{"id":"dbf1b270.dbd1f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6c296f3.9d1429","type":"ui_form","z":"dbf1b270.dbd1f","name":"","label":"","group":"fb60fb58.fef588","order":2,"width":0,"height":0,"options":[{"label":"Adult Morality Rate","value":"adult","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"infant","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"percentexp","type":"number","required":true,"rows":null},{"label":"Under five deaths","value":"underfive","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"totalexp","type":"number","required":true,"rows":null},{"label":"Diptheria","value":"dip","type":"number","required":true,"rows":null},{"label":"Thinness 1-19","value":"thin1","type":"number","required":true,"rows":null},{"label":"Thinness 5 - 9","value":"thin2","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"income","type":"number","required":true,"rows":null},{"label":"Schooling","value":"schooling","type":"number","required":true,"rows":null},{"label":"Hepatitis","value":"hepatitis","type":"number","required":true,"rows":null},{"label":"Measles","value":"measles","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"HIV","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Popualation","value":"population","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alcohol","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null}],"formValue":{"adult":"","infant":"","percentexp":"","underfive":"","totalexp":"","dip":"","thin1":"","thin2":"","income":"","schooling":"","hepatitis":"","measles":"","bmi":"","hiv":"","gdp":"","population":"","alcohol":"","polio":""},"payload":"","submit":"Predict","cancel":"Cancel","topic":"Predict Life Expectancy","x":90,"y":100,"wires":[["8d32cd0d.5dc17"]]},{"id":"d85247d.40f78b8","type":"ui_text","z":"dbf1b270.dbd1f","group":"fb60fb58.fef588","order":1,"width":"0","height":"0","name":"","label":"Prediction : ","format":"{{msg.payload}}","layout":"row-center","x":770,"y":160,"wires":[]},{"id":"8d32cd0d.5dc17","type":"function","z":"dbf1b270.dbd1f","name":"pretoken","func":"global.set(\"adult\",msg.payload.adult);\nglobal.set(\"infant\",msg.payload.infant);\nglobal.set(\"percentexp\",msg.payload.percentexp);\nglobal.set(\"underfive\",msg.payload.underfive);\nglobal.set(\"totalexp\",msg.payload.totalexp);\nglobal.set(\"dip\",msg.payload.dip);\nglobal.set(\"thin1\",msg.payload.thin1);\nglobal.set(\"thin2\",msg.payload.thin2);\nglobal.set(\"income\",msg.payload.income);\nglobal.set(\"schooling\",msg.payload.schooling);\nglobal.set(\"hepatitis\",msg.payload.hepatitis);\nglobal.set(\"measles\",msg.payload.measles);\nglobal.set(\"bmi\",msg.payload.bmi);\nglobal.set(\"hiv\",msg.payload.hiv);\nglobal.set(\"gdp\",msg.payload.gdp);\nglobal.set(\"population\",msg.payload.population);\nglobal.set(\"alcohol\",msg.payload.alcohol);\nglobal.set(\"polio\",msg.payload.polio);\n\n\nvar apikey = \"5jVk1jyke_b_b4lV4QR3EtdNeD3i49H-F49h_otCciz8\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey,\"dip\":msg.payload.dip,\"dip\":msg.payload.hiv};\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":220,"wires":[["bae5d7b2.52d578","6631b09c.75a0a"]]},{"id":"eed1f6dc.ddeda8","type":"function","z":"dbf1b270.dbd1f","name":"","func":"var token=msg.payload.access_token;\nvar instance_id = \"32265a81-4310-4a0d-ac90-29b3fe842910\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n\n\nvar a = global.get(\"adult\");\nvar b = global.get(\"infant\");\nvar c = global.get(\"percentexp\");\nvar d = global.get(\"underfive\");\nvar e = global.get(\"totalexp\");\nvar f = global.get(\"dip\");\nvar g = global.get(\"thin1\");\nvar h = global.get(\"thin2\");\nvar i = global.get(\"income\");\nvar j = global.get(\"schooling\");\nvar k = global.get(\"hepatitis\");\nvar l = global.get(\"measles\");\nvar m = global.get(\"bmi\");\nvar n = global.get(\"hiv\");\nvar o = global.get(\"gdp\");\nvar p = global.get(\"population\");\nvar q = global.get(\"alcohol\");\nvar r = global.get(\"polio\");\n\nmsg.payload ={\n                \"fields\":[\"Adult Mortality\", \"infant deaths\",\n                        \"percentage expenditure\", \"under-five deaths \", \"Total expenditure\",\n                        \"Diphtheria \", \" thinness  1-19 years\", \" thinness 5-9 years\",\n                        \"Income composition of resources\", \"Schooling\", \"Hepatitis\", \"Measles \",\n                        \" BMI \", \" HIV\", \"GDP\", \"Population\", \"Alcohol\", \"Polio\"],\n                \"values\" :[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r]]\n};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":400,"wires":[["f3e4e54f.adf738"]]},{"id":"bae5d7b2.52d578","type":"http request","z":"dbf1b270.dbd1f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":130,"y":420,"wires":[["eed1f6dc.ddeda8"]]},{"id":"f3e4e54f.adf738","type":"http request","z":"dbf1b270.dbd1f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/32265a81-4310-4a0d-ac90-29b3fe842910/deployments/cb66f7fc-d1c7-49f1-8ee5-4510ae678441/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":240,"wires":[["d838a922.9b4618","53c60fdc.4acce"]]},{"id":"d838a922.9b4618","type":"function","z":"dbf1b270.dbd1f","name":"","func":"var value=Math.round(msg.payload.values[0][0]);\nmsg.payload = value + \" years\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["d85247d.40f78b8","dba6afdc.c66e3"]]},{"id":"6631b09c.75a0a","type":"debug","z":"dbf1b270.dbd1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":180,"wires":[]},{"id":"53c60fdc.4acce","type":"debug","z":"dbf1b270.dbd1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":300,"wires":[]},{"id":"dba6afdc.c66e3","type":"debug","z":"dbf1b270.dbd1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":100,"wires":[]},{"id":"fb60fb58.fef588","type":"ui_group","z":"","name":"Machine Learning","tab":"1dc57c8b.3a32c3","order":1,"disp":true,"width":"6","collapse":false},{"id":"1dc57c8b.3a32c3","type":"ui_tab","z":"","name":"Life_Expectancy","icon":"dashboard","disabled":false,"hidden":false}]